Test/app/app.component.js
Test/app/app.component.js.map
Test/app/app.routes.js
Test/app/app.routes.js.map
Test/app/child.component.js
Test/app/child.component.js.map
Test/app/main.js
Test/app/main.js.map
Test/app/mission.service.js
Test/app/mission.service.js.map
Test/app/pages/home/home.js
Test/app/pages/home/home.js.map
Test/app/pages/listview/listview.component.js
Test/app/pages/listview/listview.component.js.map
Test/app/pages/nested-components/child.component.js
Test/app/pages/nested-components/child.component.js.map
Test/app/pages/nested-components/mission.service.js
Test/app/pages/nested-components/mission.service.js.map
Test/app/pages/nested-components/parent.component.js
Test/app/pages/nested-components/parent.component.js.map
Test/app/pages/router-outlet/roFirstChild.component.js
Test/app/pages/router-outlet/roFirstChild.component.js.map
Test/app/pages/router-outlet/roParent.component.js
Test/app/pages/router-outlet/roParent.component.js.map
Test/app/pages/router-outlet/roSecondChild.component.js
Test/app/pages/router-outlet/roSecondChild.component.js.map
Test/app/pages/router-outlet/roSecondPage.component.js
Test/app/pages/router-outlet/roSecondPage.component.js.map
Test/hooks/before-livesync/nativescript-angular-sync.js
Test/hooks/before-prepare/nativescript-dev-typescript.js
Test/hooks/before-watch/nativescript-dev-typescript.js
