.header {
    background-color: rgb(248,212,0);
    font-weight: thick;
    text-align: center;
    font-size: 20;
    padding: 10;
    margin-top: 8;
    width: 95%;
}

.resultBoard {
    font-size: 15;
    margin-top: 16;
    width: 90%;
}
.resultBoard Label {
    min-height: 32;
}

.caption {
    padding-left: 4;
    padding-right: 4;
}

.captionContainer {
    border-color: #dddddd;
    border-width: 0.5;
}

.province {
    text-align: center;
}

.number {
    text-align: center; 
}

.numberContainer {
    border-color: #dddddd;
    border-width: 0.5;
}

.borderred {
    border-color: #dddddd;
    border-width: 0.5;
}

.startEndBoard {
    margin-top: 16;
}

.startEndBoard {
    text-align: center;
    font: 14;
}

.startEndBoard Label {
    padding: 4;
}

.special {
    color: red;
}

.even {
    background-color:#eeeeee;
}
